h1{
    background-color: aqua;
    border-radius: 15px;
    width: 280px;
  height: 40px; 
  border: 1px solid ;
  background-color: aliceblue;
  border-radius: 20px;
  box-shadow: 10px 10px 100px 10px; color: rgb(7, 194, 160) ; 
}
h2{
    background-color: aqua;
    border-radius: 15px;
    width: 400px;
  height: 35px; 
  border: 1.8px solid ; 
  font-size: 30px;
}
h3{
    background-color: aqua;
    border-radius: 15px;
    width: 460px;
  height: 35px; 
  border: 1.8px solid ; 
  font-size: 30px;

}