.indented-paragraph{
    border-radius: 15px;
    width: 560px;
  height: 50px; 
  border: 1.8px solid ; 
}
.indented1paragraph{
    border-radius: 15px;
    width: 560px;
  height: 59px; 
  border: 1.8px solid ; 

}
h1{
  background-color: rgb(210, 55, 31);
    border-radius: 15px;
    width: 220px;
    border: 1px solid ; 
}



