.logoo {
  color: #eeeeee;
  width: 158px;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  float: left;
  padding-top: 10px;
  color: #eeeeee;
  position: relative;
  padding-left: 30px;
  background-color: #211f1f;
}
.search {
  display: flex;
  padding: 14px;
  border-radius: 20px;
  background-color: #211f1f;
  color: rgb(131, 130, 130);
  transition: box-shadow 0.9s;
  margin-top: 10px;
  width: 450px;
  margin-left: 550px;
  padding-top: -20px;
  padding-bottom: 15pxpx;
  position: relative;
  border: 0.1px solid rgb(131, 130, 130);
}

.search:focus-within {
  background: transparent;
  box-shadow: 0 0 6px #ffffff;
}
.search-input {
  font-size: 16px;
  font-family: "Lexend", sans-serif;
  color: #0a0909;
  margin-left: 14px;
  width: 450px;
  border: none;
  outline: none;
  background: transparent;
  align-items: center;
}
.search-input::placeholder,
.search-icon {
  color: rgb(248, 248, 248);

  align-items: center;
}

.elements {
  padding-left: 40px;
  padding-top: 25px;
  padding-bottom: 20px;
}
.element {
  padding-left: 5px;
}

a {
  text-decoration: none;
  color: rgb(178, 173, 173);
}

.element-item:hover * {
  background-color: #dcdbdb;
  color: rgb(2, 3, 3);
  border-radius: 5px;
}
.city {
  padding-top: 40px;
}

.location {
  padding-top: 35px;
}
.weather {
  padding-top: 35px;
}
.Tower {
  padding-top: 35px;
}
.park {
  padding-top: 35px;
}
.stadium {
  padding-top: 35px;
}
#hi {
  font-size: smaller;
}
.road {
  padding-top: 35px;
}
.active {
  padding-top: 35px;
}
.tran {
  padding-top: 35px;
}
.culture {
  padding-top: 35px;
}
.money {
  padding-top: 35px;
}
.sport {
  padding-top: 35px;
}
.education {
  padding-top: 35px;
  font-size: smaller;
}
.shop {
  padding-top: 35px;
}
.health {
  padding-top: 35px;
}
.elements {
  background: #211f1f;
  position: fixed;
  width: 260px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 20px 9px 0 50px;
}

::-webkit-scrollbar {
  width: 1px;
  height: 50%;
}

::-webkit-scrollbar-thumb {
  background: #898888;
  border-radius: 500px;
}

.element-item {
  display: flex;
  align-items: center;
  color: rgb(178, 173, 173);
}

.video1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1254px;
  height: 728px;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -10000000;
  justify-content: flex-end;
  margin-left: 130px;
}

body {
  background-color: #211f1f;
}
