.logoo {
  width: 158px;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  float: left;
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  padding-left: 50px;
  font-family: "Times New Roman", Times, serif;
}
.pad {
  padding-bottom: 50px;
}
.search {
  display: flex;
  padding: 14px;
  border-radius: 20px;
  color: rgb(221, 218, 218);
  transition: box-shadow 0.9s;
  margin-top: 10px;
  width: 450px;
  margin-left: 550px;
  padding-top: -20px;
  padding-bottom: 15pxpx;
  position: relative;
  border: 0.1px solid rgb(175, 172, 172);
}

.search:focus-within {
  background: transparent;
  box-shadow: 0 0 6px #ffffff;
}
.search-input {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 251, 251);
  margin-left: 14px;
  width: 450px;
  border: none;
  outline: none;
  background: transparent;
  align-items: center;
  caret-color: rgb(243, 240, 240);
}
.search-input::placeholder,
.search-icon {
  color: rgba(255, 255, 255, 0.8);

  align-items: center;
}
#searchsymbol {
  color: rgb(209, 209, 209);
}

.elements {
  padding-left: 45px;
  padding-top: 25px;
  padding-bottom: 20px;
}
.element {
  padding-left: 5px;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
.material-symbols-outlined {
  color: rgba(255, 255, 255, 0.5);
}

.element-item:hover * {
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
}
.city {
  font-family: "Times New Roman", Times, serif;
}

.location {
  padding-top: 35px;
  font-family: "Times New Roman", Times, serif;
}
.weather {
  padding-top: 35px;
  font-family: "Times New Roman", Times, serif;
}
.Tower {
  padding-top: 35px;
  font-family: "Times New Roman", Times, serif;
}
.park {
  padding-top: 35px;
  font-family: "Times New Roman", Times, serif;
}
.stadium {
  padding-top: 35px;
  font-family: "Times New Roman", Times, serif;
}
#hi {
  font-size: smaller;
  font-family: "Times New Roman", Times, serif;
}
.road {
  padding-top: 35px;
  font-family: "Times New Roman", Times, serif;
}
.active {
  padding-top: 35px;
  font-family: "Times New Roman", Times, serif;
}
.tran {
  padding-top: 35px;
  font-family: "Times New Roman", Times, serif;
}
.culture {
  padding-top: 35px;
  font-family: "Times New Roman", Times, serif;
}
.money {
  padding-top: 35px;
  font-family: "Times New Roman", Times, serif;
}
.sport {
  padding-top: 35px;
  font-family: "Times New Roman", Times, serif;
}
.education {
  padding-top: 35px;
  font-family: "Times New Roman", Times, serif;
}
.shop {
  padding-top: 35px;
  font-family: "Times New Roman", Times, serif;
}
.health {
  padding-top: 35px;
  font-family: "Times New Roman", Times, serif;
}
.elements {
  position: fixed;
  width: 260px;
  height: 85%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background: #898888;
  border-radius: 500px;
}

.element-item {
  display: flex;
  align-items: center;
  color: rgb(178, 173, 173);
}

.video1 {
  position: absolute; /* Fix the video to the viewport */
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -100000000000; /* Ensure the video stays behind other content */
  align-items: flex-start;
}
