.hihi {
  width: 80px;
  height: 500px;
  border-radius: 30px;
  background: linear-gradient(to right, rgb(163, 218, 225), rgb(22, 98, 108))
    padding-box;
}

.yiyi {
  padding: 10px 10px 10px 10px;
  width: 60px;
  height: 30px;
  border-radius: 30px;
}
img:hover {
  background-color: aliceblue;
}
